.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: var(--header-height);
  padding: var(--header-padding);
  background-color: var(--header-background);
  color: var(--header-text-color);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  transition: background-color var(--transition-default);

  .menu {
    flex: 1;
    min-width: 0;
  }
}
