.switcher {
  margin: var(--theme-switcher-margin);

  .switch {
    background-color: var(--theme-switcher-bg, var(--button-background));

    &:hover {
      background-color: var(--primary-color);
    }
  }
}
