/**
 * Переменные для темной темы.
 */
.dark-theme {
  --primary-color: #1677ff;
  --logo-color: #fff;
  --button-background: #23272e;
  --button-color: #fff;
  --input-background: #23272e;
  --input-placeholder-color: rgba(255, 255, 255, 0.25);
  --input-color: #fff;
  --input-icon-color: rgba(255, 255, 255, 0.45);
  --background-color: #161b22;
  --page-background: #161b22;
  --text-color: #fff;
  --header-background: #23272e;
  --header-text-color: #fff;
  --menu-background: #23272e;
  --theme-switcher-bg: #23272e;
  --menu-active-bg: #23272e;
  --menu-active-color: #1677ff;
  --menu-active-underline: #1677ff;
  --content-background: #21262d;
  --content-header-color: #f0f6fc;
  --content-text-color: #f0f6fc;
  --dropdown-background: #1f1f1f;
  --dropdown-border: #434343;
  --dropdown-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.32);
  --dropdown-text-color: #ffffffd9;
  --dropdown-hover-bg: #262626;
  --dropdown-hover-text-color: #ffffff;
  --dropdown-icon-color: #ffffff73;
  --dropdown-divider-color: #434343;
  --border-color: #434343;
}
