/**
 * Переменные для светлой темы.
 */
:root {
  --primary-color: #1677ff;
  --logo-color: #000;
  --button-background: #fff;
  --button-color: #24292f;
  --input-background: #fff;
  --input-color: #24292f;
  --background-color: #fff;
  --page-background: #fff;
  --text-color: #24292f;
  --header-background: #fff;
  --header-text-color: #24292f;
  --menu-background: #fff;
}
