/**
 * Переменные для светлой темы.
 */
:root {
  --primary-color: #8a8a8a;
  --logo-color: #000;
  --button-background: #fff;
  --button-color: #24292f;
  --input-background: #fff;
  --input-placeholder-color: rgba(0, 0, 0, 0.25);
  --input-color: #24292f;
  --input-icon-color: rgba(0, 0, 0, 0.45);
  --background-color: #f6f8fa;
  --page-background: #fff;
  --text-color: #24292f;
  --header-background: #fff;
  --header-text-color: #24292f;
  --menu-background: #fff;
  --content-background: #fff;
  --content-header-color: #24292f;
  --content-text-color: #24292f;
  --dropdown-background: #ffffff;
  --dropdown-border: #d9d9d9;
  --dropdown-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08);
  --dropdown-text-color: #000000d9;
  --dropdown-hover-bg: #f5f5f5;
  --dropdown-hover-text-color: #000000d9;
  --dropdown-icon-color: #00000073;
  --dropdown-divider-color: #f0f0f0;
  --border-color: #d9d9d9;
  --theme-switcher-bg: #f5f5f5;
  --menu-active-bg: #fff;
  --menu-active-color: #000000;
  --menu-active-underline: #000000;
}
