.appLayout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.appContent {
  flex: 1;
  display: flex;
  padding: 0;
}

.appContentInner {
  width: 100%;
  display: flex;
}

.appFooter {
  text-align: center;
  flex-shrink: 0;
  background-color: var(--content-background);
  color: var(--content-text-color);
}

/* Стили для обычных страниц (не логин) */
.regularPageContent {
  padding: 24px 48px;
  align-items: flex-start;
  justify-content: flex-start;
  
  @media (max-width: 768px) {
    padding: 24px 20px;
  }
}