@use '@/shared/ui/Form/Form.module.scss' as form;

.forgotPasswordPage {
    @extend %form-page-base;
}

.forgotPasswordForm {
    @extend %form-container-base;
}

.forgotPasswordTitle {
    @extend %form-title-base;
}

.inputsContainer {
    @extend %form-inputs-container-base;
}

.messageContainer {
    @extend %form-message-container-base;
}

.formAction {
    @extend %form-action-base;
}

.forgotPasswordButton {
    @extend %form-button-base;
}

.backToLoginLink {
    @extend %form-link-base;
}

.emptyContainer {
    @extend %empty-container-base;
}

.errorContainer {
    @extend %error-container-base;
}

.formTopAction {
    @extend %form-top-action-base;
}

.inputHint {
    color: var(--content-header-color);
    opacity: 0.7;
    user-select: none;
}

.successMessage {
    color: var(--content-header-color);
    font-size: 14px;
    font-weight: 500;
}